//header
@import "./header/logo";
@import "./header/search";
@import "./header/dropdown";
//sidebar
@import "./sidebar/sidebar";
//main content
@import "./mainContent/categories";
@import "./mainContent/videoblock";

*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border:0;
}
.header{
    z-index:9999;
    margin-top: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid grey;
    height:63px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    align-items: center;
    justify-content: space-between;
    padding:0 15px;

}

.content{
    .videocontent{
        width: calc(100% - 15px);
        .carousel{
            height: 430px;
            background: lightgreen;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
        }
    }
}
.footer{
    text-align: center;
    font-size: 24px;
    margin-top: 35px;
    font-family: 'Lato', sans-serif;
    p::selection{
        color: white;
        background: #f6af44;
    }
}

