.logo {
  min-width: 200px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6af44;
}

.logo .logo-text {
  text-decoration: none;
  color: #f6af44;
  padding-left: 7px;
}

.search form {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search form .searchblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.search form .searchblock .search-input {
  min-width: 100px;
  max-width: 300px;
  outline: none;
  border: .5px solid grey;
  padding: 7px;
  width: 17vw;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search form .searchblock .search-input:focus {
  border: 1px solid #969fe4;
}

.search form .searchblock .search-submit {
  cursor: pointer;
  font-size: .8rem;
  border: none;
  background-color: #edeced;
  padding: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search form .searchblock .search-input:focus + .search-submit {
  border-left: none;
}

.search form .searchblock .search-submit:hover {
  background: #dfdedf;
}

.search form .microphone {
  cursor: pointer;
  font-size: 1.55rem;
  border: none;
  background-color: #fff;
  color: #bab9ba;
  padding: 2px;
}

.search form .microphone:hover {
  color: #767576;
}

.right-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-btns .ousideUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right-btns .ousideUl .paw:hover {
  background: #dfdfdf;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.right-btns .ousideUl .paw:hover + .dropdown {
  display: block;
}

.right-btns .ousideUl .dropdown:hover {
  display: block;
}

.right-btns .bell {
  color: #c1c1c1;
  font-size: 38px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 12px;
}

.right-btns .bell:hover {
  color: #7a797a;
}

.right-btns .paw {
  cursor: pointer;
  position: relative;
  background: #f6af44;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  padding-top: 10px;
  height: 40px;
  font-size: 15px;
  text-align: center;
}

.right-btns .dropdown {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  font-size: 21px;
  position: absolute;
  top: 20px;
  width: 160px;
  right: 20px;
  margin-top: 30px;
}

.right-btns .dropdown .dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right-btns .dropdown .dropdown-list li {
  cursor: pointer;
  height: 35px;
}

.right-btns .dropdown .dropdown-list li i {
  padding: 0 0 0 15px;
}

.right-btns .dropdown .dropdown-list li:hover {
  background: #e7e8e9;
}

.right-btns .dropdown .dropdown-list .settings::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 1px;
  background: grey;
  top: 35px;
  left: 0;
}

.right-btns .dropdown .dropdown-list .logout {
  color: red;
}

.right-btns .dropdown .dropdown-list .logout::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 1px;
  background: grey;
  top: 70px;
  left: 0;
}

.sidebar {
  width: 220px;
  font-size: 18px;
  height: calc(100vh - 63px);
  margin-top: 63px;
  background: #ebebeb;
  position: fixed;
}

.sidebar .cats {
  height: calc(100% - 170px);
  overflow-y: auto;
}

.sidebar .cats img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar .cats .name, .sidebar .cats .num-viewers {
  font-family: 'Lato', sans-serif;
}

.sidebar .cats ul {
  margin: 0;
  padding: 0;
  gap: 10px;
  list-style-type: none;
}

.sidebar .cats ul li {
  cursor: pointer;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  position: relative;
}

.sidebar .cats ul li .name {
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90px;
}

.sidebar .cats ul li .name:hover {
  color: #7285e2;
}

.sidebar .cats ul li .num-viewers {
  position: absolute;
  right: 2px;
}

.sidebar .cats ul li .isLive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  position: absolute;
  right: 45px;
}

@media (max-width: 1200px) {
  .sidebar .cats ul li {
    padding-left: 5px;
  }
}

.sidebar .cats ul li:hover {
  background: #cccbcc;
}

.sidebar .contacts {
  border-top: 1px solid white;
  height: 107px;
}

.sidebar .contacts .inner-block {
  margin: 25px auto 0;
  width: 80%;
  height: 120px;
  text-align: center;
  border-radius: 5px;
  background: #dfdfdf;
  padding-bottom: 10px;
  position: relative;
}

.sidebar .contacts .inner-block .invitation-text {
  font-size: 19px;
  padding-top: 5px;
  margin-bottom: 0;
}

.sidebar .contacts .inner-block .invitation-text::-moz-selection {
  color: white;
  background: #f6af44;
}

.sidebar .contacts .inner-block .invitation-text::selection {
  color: white;
  background: #f6af44;
}

.sidebar .contacts .inner-block ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar .contacts .inner-block ul li a {
  text-decoration: none;
  color: black;
}

.sidebar .contacts .inner-block ul li a:hover {
  color: #00a2ff;
}

.cats::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.cats::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.cats::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(231, 217, 14, 0.3);
}

@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    max-width: 65px;
  }
  .sidebar .cats {
    height: 100%;
  }
  .sidebar .cats .name,
  .sidebar .cats .isLive,
  .sidebar .cats .num-viewers {
    display: none;
  }
  .sidebar .cats::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
  }
  .sidebar .inner-block {
    display: none;
  }
  .sidebar .contacts {
    display: none;
    height: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videocontent {
  margin-top: 63px;
  overflow-x: hidden;
}

.videocontent .categories {
  width: calc(100% - 15px);
  height: 65px;
  padding-top: 7px;
}

.videocontent .categories .category-list {
  height: 65px;
  width: auto;
  margin-left: 0;
  margin-top: 0;
  white-space: nowrap;
  font-size: 22px;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[14];
      grid-template-columns: repeat(14, -webkit-min-content);
      grid-template-columns: repeat(14, min-content);
  gap: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: ". . . . . . . . . . . . . .";
  overflow-y: hidden;
}

.videocontent .categories .category-list .category-item {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0 10px;
  background: #ebebeb;
  border-radius: 20px;
  border: 1px solid grey;
  -ms-grid-row: 1;
  grid-row: 1;
  cursor: pointer;
}

.videocontent .categories .category-list .category-item:hover {
  background: #d7d6d7;
}

.videocontent .categories .category-list .category-item:first-child {
  background: #f6af44;
  color: #fff;
  border: none;
}

.videocontent .categories .category-list .category-item:first-child:hover {
  background: #f0a12a;
}

.videocontent .categories .category-list .category-item::-moz-selection {
  color: white;
  background: #f6af44;
}

.videocontent .categories .category-list .category-item::selection {
  color: white;
  background: #f6af44;
}

.videocontent .category-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

.videocontent .category-list::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
}

.videocontent .category-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(231, 217, 14, 0);
}

.content .videocontent {
  margin-left: 220px;
}

.content .videocontent .videos .video-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  padding: 0;
  -ms-grid-columns: (515px)[3];
      grid-template-columns: repeat(3, 515px);
  -ms-grid-rows: (270px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 270px);
  grid-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .videocontent .videos .video-list .video-item {
  cursor: pointer;
  display: block;
}

.content .videocontent .videos .video-list .video-item .preview {
  height: 220px;
  position: relative;
}

.content .videocontent .videos .video-list .video-item .preview .isLive {
  width: 45px;
  height: 27px;
  background: red;
  border-radius: 5px;
  top: 5px;
  position: absolute;
  left: 5px;
}

.content .videocontent .videos .video-list .video-item .preview .isLive p {
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin: 0;
  padding-left: 7px;
}

.content .videocontent .videos .video-list .video-item .preview .preview-image {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 515px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .videocontent .videos .video-list .video-item .preview .side-number {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 18px;
  background: grey;
  height: 32px;
  border-radius: 5px;
}

.content .videocontent .videos .video-list .video-item .preview .side-number p {
  color: white;
  margin: 0;
  padding: 4px;
}

.content .videocontent .videos .video-list .video-item .preview .onHover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 515px;
  height: 220px;
  background: black;
  opacity: 0;
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
}

.content .videocontent .videos .video-list .video-item .preview i {
  color: white;
  position: absolute;
  top: 55px;
  left: calc(50% - 56px);
  font-size: 110px;
  display: block;
  width: 112px;
  opacity: 0;
}

.content .videocontent .videos .video-list .video-item .preview:hover .onHover {
  display: block;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  opacity: 0.6;
}

.content .videocontent .videos .video-list .video-item .preview:hover i {
  opacity: 1;
}

.content .videocontent .videos .video-list .video-item .details {
  position: relative;
  height: 50px;
}

.content .videocontent .videos .video-list .video-item .details .avatar {
  margin-top: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.content .videocontent .videos .video-list .video-item .details .namings {
  height: 50px;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 55px;
  line-height: 22px;
}

.content .videocontent .videos .video-list .video-item .details .namings p {
  margin: 0;
}

.content .videocontent .videos .video-list .video-item .details .namings .video-name {
  font-weight: 900;
  text-overflow: ellipsis;
  width: 425px;
  white-space: nowrap;
  overflow: hidden;
}

.content .videocontent .videos .video-list .video-item .details .namings .cat-name {
  font-size: 16px;
  color: grey;
  text-overflow: ellipsis;
  width: 425px;
}

.content .videocontent .videos .video-list .video-item .details .options {
  position: absolute;
  font-size: 26px;
  right: 10px;
  top: 0;
}

.content .videocontent .videos .video-list p::-moz-selection {
  color: white;
  background: #f6af44;
}

.content .videocontent .videos .video-list p::selection {
  color: white;
  background: #f6af44;
}

@media (max-width: 1860px) {
  .content .videocontent .videos .video-list {
    -ms-grid-columns: (515px)[2];
        grid-template-columns: repeat(2, 515px);
    grid-column-gap: 110px;
  }
}

@media (max-width: 1360px) {
  .content .videocontent .videos .video-list {
    -ms-grid-columns: (815px)[1];
        grid-template-columns: repeat(1, 815px);
    -ms-grid-rows: (365px)[auto-fill];
        grid-template-rows: repeat(auto-fill, 365px);
  }
  .content .videocontent .videos .video-list .video-item .preview {
    height: 300px;
  }
  .content .videocontent .videos .video-list .video-item .preview .preview-image {
    width: 815px;
    height: 300px;
  }
  .content .videocontent .videos .video-list .video-item .preview .onHover {
    width: 815px;
    height: 300px;
  }
  .content .videocontent .videos .video-list .video-item .preview i {
    top: 100px;
  }
}

@media (max-width: 1200px) {
  .content .videocontent {
    margin-left: 65px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  z-index: 9999;
  margin-top: 0;
  position: fixed;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid grey;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.content .videocontent {
  width: calc(100% - 15px);
}

.content .videocontent .carousel {
  height: 430px;
  background: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.footer {
  text-align: center;
  font-size: 24px;
  margin-top: 35px;
  font-family: 'Lato', sans-serif;
}

.footer p::-moz-selection {
  color: white;
  background: #f6af44;
}

.footer p::selection {
  color: white;
  background: #f6af44;
}
/*# sourceMappingURL=general.css.map */