.content{
    display: flex;
}
.videocontent{
    margin-top: 63px;
    overflow-x: hidden;
    .categories{
        width: calc(100% - 15px);
        height: 65px;
        padding-top: 7px;
        .category-list{
            
            height: 65px;
            width:auto;
            margin-left: 0;
            margin-top: 0;
            white-space:nowrap;
            font-size: 22px;
            list-style-type: none;
            display: grid; 
            grid-template-columns: repeat(14, min-content); 
            gap: 0px 20px; 
            align-items: center;
            grid-template-areas: 
            ". . . . . . . . . . . . . ."; 
            overflow-y:hidden;
            .category-item{
                font-family: 'Lato', sans-serif;
                display:inline-block;
                width:min-content;
                padding: 0 10px;
                background: #ebebeb;
                border-radius: 20px;
                border: 1px solid grey;
                grid-row: 1;
                cursor: pointer;
            }
            .category-item:hover{
                background: #d7d6d7;
            }
            .category-item:first-child{
                background: #f6af44;
                color: #fff;
                border:none;
            }
            .category-item:first-child:hover{
                background: #f0a12a;

            }
            .category-item::selection{
                color: white;
                background: #f6af44;
            }
        }
    }
    .category-list::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: #fff;
    }

    .category-list::-webkit-scrollbar
    {
        width: 1px;
        background-color: #fff;
    }

    .category-list::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: rgba(231, 217, 14, 0);
    }
}