.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videocontent {
  margin-top: 63px;
  overflow-x: hidden;
}

.videocontent .categories {
  width: calc(100% - 15px);
  height: 65px;
  padding-top: 7px;
}

.videocontent .categories .category-list {
  height: 65px;
  width: auto;
  margin-left: 0;
  margin-top: 0;
  white-space: nowrap;
  font-size: 22px;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[14];
      grid-template-columns: repeat(14, -webkit-min-content);
      grid-template-columns: repeat(14, min-content);
  gap: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: ". . . . . . . . . . . . . .";
  overflow-y: hidden;
}

.videocontent .categories .category-list .category-item {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0 10px;
  background: #ebebeb;
  border-radius: 20px;
  border: 1px solid grey;
  -ms-grid-row: 1;
  grid-row: 1;
  cursor: pointer;
}

.videocontent .categories .category-list .category-item:hover {
  background: #d7d6d7;
}

.videocontent .categories .category-list .category-item:first-child {
  background: #f6af44;
  color: #fff;
  border: none;
}

.videocontent .categories .category-list .category-item:first-child:hover {
  background: #f0a12a;
}

.videocontent .categories .category-list .category-item::-moz-selection {
  color: white;
  background: #f6af44;
}

.videocontent .categories .category-list .category-item::selection {
  color: white;
  background: #f6af44;
}

.videocontent .category-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

.videocontent .category-list::-webkit-scrollbar {
  width: 1px;
  background-color: #fff;
}

.videocontent .category-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(231, 217, 14, 0);
}
/*# sourceMappingURL=categories.css.map */