.content{
    .videocontent{
        margin-left: 220px;
       .videos{
           .video-list{
               list-style-type: none;
               display: grid;
               padding:0;
               grid-template-columns: repeat(3,515px);
               grid-template-rows: repeat(auto-fill, 270px);
               grid-gap:25px;
               justify-content: center;
               .video-item{
                   cursor: pointer;
                   display:block;
                   .preview{
                    height: 220px;
                       position: relative;
                       .isLive{
                        width: 45px;
                        height: 27px;
                        background: red;
                        border-radius: 5px;
                        top: 5px;
                        position: absolute;
                        left: 5px;
                           p{
                                font-size: 18px;
                                color: white;
                                font-weight: 600;
                                margin: 0;
                                padding-left: 7px;
                           }
                       }
                       .preview-image{
                            border: 1px solid rgba(0,0,0,0.5);
                            width:515px;
                            box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
                            height: 220px;
                            object-fit: cover
                       }
                       .side-number{
                            position: absolute;
                            bottom: 15px;
                            right: 10px;
                            font-size: 18px;
                            background: grey;
                            height: 32px;
                            border-radius: 5px;
                           p{
                                color:white;
                                margin:0;
                                padding:4px;
                           }
                       }
                       .onHover{
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            width: 515px;
                            height: 220px;
                            background: black;
                            opacity:0;
                            animation: fadeOut 1s;
                       }
                       i{
                        color:white;
                        position: absolute;
                        top:55px;
                        left: calc(50% - 56px);
                        font-size: 110px;
                        display: block;
                        width:112px;
                        opacity: 0;
                    }
                   }
                   .preview:hover{
                       .onHover{
                           display: block;
                           animation: fadeIn 1s;
                           opacity:0.6;
                       }
                       i{
                        opacity:1;
                    }
                   }
                   .details{
                       position: relative;
                       height: 50px;
                       .avatar{
                           margin-top:3px;
                           width: 45px;
                           height: 45px;
                           border-radius: 50%;
                       }
                       .namings{
                           height: 50px;
                           font-size: 18px;
                           position: absolute;
                           top:0;
                           left:55px;
                           line-height: 22px;
                           p{
                            margin:0;
                           }
                           .video-name{
                                font-weight: 900;
                                text-overflow: ellipsis;
                                width: 425px;
                                white-space: nowrap;
                                overflow: hidden;
                           }
                           .cat-name{
                               font-size: 16px;
                               color:grey;
                               text-overflow: ellipsis;
                               width: 425px;
                           }
                       }
                       .options{
                            position: absolute;
                            font-size: 26px;
                            right: 10px;
                            top: 0;
                       }
                   }
               }
               p::selection{
                color: white;
                background: #f6af44;
               }
           }
           @media (max-width:1860px){
               .video-list{
                   grid-template-columns: repeat(2,515px);
                    grid-column-gap: 110px;
               }
           }
           @media (max-width:1360px){
            .video-list{
                grid-template-columns: repeat(1,815px);
                grid-template-rows: repeat(auto-fill, 365px);
                .video-item{
                    .preview{
                        height: 300px;
                        .preview-image{
                            width: 815px;
                            height: 300px;
                        }
                        .onHover{
                            width: 815px;
                            height: 300px;
                        }
                        i{
                            top:100px;
                        }
                    }
                }
                
            }
        }
       }
    }
    @media (max-width: 1200px){
        .videocontent{
            margin-left: 65px;
        }
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.6;}
  }
  @keyframes fadeOut {
    0% {opacity:0.6;}
    100% {opacity:0;}
  }