.content .videocontent {
  margin-left: 220px;
}

.content .videocontent .videos .video-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  padding: 0;
  -ms-grid-columns: (515px)[3];
      grid-template-columns: repeat(3, 515px);
  -ms-grid-rows: (270px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 270px);
  grid-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .videocontent .videos .video-list .video-item {
  cursor: pointer;
  display: block;
}

.content .videocontent .videos .video-list .video-item .preview {
  height: 220px;
  position: relative;
}

.content .videocontent .videos .video-list .video-item .preview .isLive {
  width: 45px;
  height: 27px;
  background: red;
  border-radius: 5px;
  top: 5px;
  position: absolute;
  left: 5px;
}

.content .videocontent .videos .video-list .video-item .preview .isLive p {
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin: 0;
  padding-left: 7px;
}

.content .videocontent .videos .video-list .video-item .preview .preview-image {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 515px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .videocontent .videos .video-list .video-item .preview .side-number {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 18px;
  background: grey;
  height: 32px;
  border-radius: 5px;
}

.content .videocontent .videos .video-list .video-item .preview .side-number p {
  color: white;
  margin: 0;
  padding: 4px;
}

.content .videocontent .videos .video-list .video-item .preview .onHover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 515px;
  height: 220px;
  background: black;
  opacity: 0;
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
}

.content .videocontent .videos .video-list .video-item .preview i {
  color: white;
  position: absolute;
  top: 55px;
  left: calc(50% - 56px);
  font-size: 110px;
  display: block;
  width: 112px;
  opacity: 0;
}

.content .videocontent .videos .video-list .video-item .preview:hover .onHover {
  display: block;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  opacity: 0.6;
}

.content .videocontent .videos .video-list .video-item .preview:hover i {
  opacity: 1;
}

.content .videocontent .videos .video-list .video-item .details {
  position: relative;
  height: 50px;
}

.content .videocontent .videos .video-list .video-item .details .avatar {
  margin-top: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.content .videocontent .videos .video-list .video-item .details .namings {
  height: 50px;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 55px;
  line-height: 22px;
}

.content .videocontent .videos .video-list .video-item .details .namings p {
  margin: 0;
}

.content .videocontent .videos .video-list .video-item .details .namings .video-name {
  font-weight: 900;
  text-overflow: ellipsis;
  width: 425px;
  white-space: nowrap;
  overflow: hidden;
}

.content .videocontent .videos .video-list .video-item .details .namings .cat-name {
  font-size: 16px;
  color: grey;
  text-overflow: ellipsis;
  width: 425px;
}

.content .videocontent .videos .video-list .video-item .details .options {
  position: absolute;
  font-size: 26px;
  right: 10px;
  top: 0;
}

.content .videocontent .videos .video-list p::-moz-selection {
  color: white;
  background: #f6af44;
}

.content .videocontent .videos .video-list p::selection {
  color: white;
  background: #f6af44;
}

@media (max-width: 1860px) {
  .content .videocontent .videos .video-list {
    -ms-grid-columns: (515px)[2];
        grid-template-columns: repeat(2, 515px);
    grid-column-gap: 110px;
  }
}

@media (max-width: 1360px) {
  .content .videocontent .videos .video-list {
    -ms-grid-columns: (815px)[1];
        grid-template-columns: repeat(1, 815px);
    -ms-grid-rows: (365px)[auto-fill];
        grid-template-rows: repeat(auto-fill, 365px);
  }
  .content .videocontent .videos .video-list .video-item .preview {
    height: 300px;
  }
  .content .videocontent .videos .video-list .video-item .preview .preview-image {
    width: 815px;
    height: 300px;
  }
  .content .videocontent .videos .video-list .video-item .preview .onHover {
    width: 815px;
    height: 300px;
  }
  .content .videocontent .videos .video-list .video-item .preview i {
    top: 100px;
  }
}

@media (max-width: 1200px) {
  .content .videocontent {
    margin-left: 65px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=videoblock.css.map */