.right-btns{
        
    display:flex;
    
    .ousideUl{
        display: flex;
        list-style-type: none;
        margin:0;
        padding:0;
        .paw:hover{
            background: #dfdfdf;
            transition: all .5s;
        }
        .paw:hover + .dropdown{
            display:block;
        }
        .dropdown:hover{
            display: block;
        }
    }
    .bell{
        color:#c1c1c1;
        font-size:38px;
        margin-right: 10px;
        cursor: pointer;
        margin-top:12px;
    }
    .bell:hover{
        color:#7a797a;
    }
    .paw{
        cursor: pointer;
        position: relative;
        background: #f6af44;
        border-radius: 50%;
        display: inline-block;
        width: 40px;
        padding-top: 10px;
        height: 40px;
        font-size: 15px;
        text-align: center;
    }

   
    .dropdown{
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 5px;
        display: none;
        font-size: 21px;
        position: absolute;
        top:20px;
        width:160px;
        right:20px;
        margin-top: 30px;
        .dropdown-list{
            list-style-type: none;
            margin:0;
            padding:0;
            li{
                cursor: pointer;
                height:35px;
                i{
                    padding: 0 0 0 15px;
                }
            }
            li:hover{
                background: #e7e8e9;
            }
            .settings::after{
                content:"";
                position: absolute;
                width:160px;
                height:1px;
                background:grey;
                top:35px;
                left:0;
            }
            .logout{
                color:red;
            }
            .logout::after{
                content:"";
                position: absolute;
                width:160px;
                height:1px;
                background:grey;
                top:70px;
                left:0;
            }   
        }
    }
}