.right-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-btns .ousideUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right-btns .ousideUl .paw:hover {
  background: #dfdfdf;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.right-btns .ousideUl .paw:hover + .dropdown {
  display: block;
}

.right-btns .ousideUl .dropdown:hover {
  display: block;
}

.right-btns .bell {
  color: #c1c1c1;
  font-size: 38px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 12px;
}

.right-btns .bell:hover {
  color: #7a797a;
}

.right-btns .paw {
  cursor: pointer;
  position: relative;
  background: #f6af44;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  padding-top: 10px;
  height: 40px;
  font-size: 15px;
  text-align: center;
}

.right-btns .dropdown {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  font-size: 21px;
  position: absolute;
  top: 20px;
  width: 160px;
  right: 20px;
  margin-top: 30px;
}

.right-btns .dropdown .dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right-btns .dropdown .dropdown-list li {
  cursor: pointer;
  height: 35px;
}

.right-btns .dropdown .dropdown-list li i {
  padding: 0 0 0 15px;
}

.right-btns .dropdown .dropdown-list li:hover {
  background: #e7e8e9;
}

.right-btns .dropdown .dropdown-list .settings::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 1px;
  background: grey;
  top: 35px;
  left: 0;
}

.right-btns .dropdown .dropdown-list .logout {
  color: red;
}

.right-btns .dropdown .dropdown-list .logout::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 1px;
  background: grey;
  top: 70px;
  left: 0;
}
/*# sourceMappingURL=dropdown.css.map */