.logo{
    min-width:200px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    color:#f6af44;
    .logo-text{
        text-decoration: none;
        color:#f6af44;
        padding-left: 7px;
    }
}