.logo {
  min-width: 200px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6af44;
}

.logo .logo-text {
  text-decoration: none;
  color: #f6af44;
  padding-left: 7px;
}
/*# sourceMappingURL=logo.css.map */