.search{
    form{
        flex-basis: 30%;
        min-width: 300px;
        display: flex;
        justify-content: center;
        gap:10px;
        align-items: center;
    .searchblock{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .search-input{
            min-width: 100px;
            max-width: 300px;
            outline:none;
            border: .5px solid grey;
            padding:7px;
           width: 17vw;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .search-input:focus{
            border: 1px solid #969fe4;
        }
        .search-submit{
            cursor: pointer;
            font-size:.8rem;
            border:none;
            background-color: #edeced;
            padding: 8px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

        }
        .search-input:focus + .search-submit{
            border-left: none;
        }
        .search-submit:hover{
            background: #dfdedf;
        }
        
    }
    .microphone{
        cursor:pointer;
        font-size:1.55rem;
        border:none;
        background-color: #fff;
        color:#bab9ba;
        padding: 2px;
    }
    .microphone:hover{
        color: #767576;
    }
    }
    
}