.search form {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search form .searchblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.search form .searchblock .search-input {
  min-width: 100px;
  max-width: 300px;
  outline: none;
  border: .5px solid grey;
  padding: 7px;
  width: 17vw;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search form .searchblock .search-input:focus {
  border: 1px solid #969fe4;
}

.search form .searchblock .search-submit {
  cursor: pointer;
  font-size: .8rem;
  border: none;
  background-color: #edeced;
  padding: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search form .searchblock .search-input:focus + .search-submit {
  border-left: none;
}

.search form .searchblock .search-submit:hover {
  background: #dfdedf;
}

.search form .microphone {
  cursor: pointer;
  font-size: 1.55rem;
  border: none;
  background-color: #fff;
  color: #bab9ba;
  padding: 2px;
}

.search form .microphone:hover {
  color: #767576;
}
/*# sourceMappingURL=search.css.map */