.sidebar{
    width:220px;
    font-size:18px;
    height: calc(100vh - 63px);
    margin-top:63px;
    background: #ebebeb;
    position: fixed;
    .cats{
        height: calc(100% - 170px);
        overflow-y: auto;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .name, .num-viewers{
            font-family: 'Lato', sans-serif;
        }
        ul{
            margin:0;
            padding:0;
            gap:10px;
            list-style-type: none;
            li{
                cursor: pointer;
                padding-left: 15px;
                display:flex;
                height: 65px;
                align-items: center;
                justify-items: flex-start;
                position: relative;
                .name{
                    padding-left: 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width:90px;
                }
                .name:hover{
                    color:#7285e2;
                }
                .num-viewers{
                    position: absolute;
                    right:2px;
                }
                .isLive{
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: red;
                    animation: pulse 2s infinite;
                    position: absolute;
                    right:45px;
                }
                @media (max-width:1200px){
                padding-left: 5px;

                }
            }
            li:hover{
                background: #cccbcc;
            }
        }
    }
    .contacts{
        border-top: 1px solid white;
        height: 107px;
        .inner-block{
            margin: 25px auto 0;
            width: 80%;
            height: 120px;
            text-align: center;
            border-radius: 5px;
            background: #dfdfdf;
            padding-bottom: 10px;
            position: relative;
            .invitation-text{
                font-size:19px;
                padding-top: 5px;
                margin-bottom: 0;
            }
            .invitation-text::selection{
                color: white;
                background: #f6af44;
            }
            ul{
                list-style-type: none;
                display: flex;
                margin:0;
                padding:0;
                font-size:30px;
                justify-content:space-around;
                li{
                    
                    a{
                        
                        text-decoration: none;
                        color:black;
                    }
                    a:hover{
                        color:#00a2ff;
                    }
                }
            }
        }
    }  
    
}
.cats::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.cats::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.cats::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(231, 217, 14, 0.3);
}
@media (max-width:1200px) {
    .sidebar{
        position: fixed;
        max-width:65px;
        .cats{
            .name,
            .isLive,
            .num-viewers{
                display: none;
            }
            height: 100%;
            
        }
        .cats::-webkit-scrollbar
        {
            width: 4px;
            background-color: #F5F5F5;
        }
        .inner-block{
            display: none;
        }
        .contacts{
            display: none;
            height: 0;
        }
    }
    
   
} 
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}