.sidebar {
  width: 220px;
  font-size: 18px;
  height: calc(100vh - 63px);
  margin-top: 63px;
  background: #ebebeb;
  position: fixed;
}

.sidebar .cats {
  height: calc(100% - 170px);
  overflow-y: auto;
}

.sidebar .cats img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar .cats .name, .sidebar .cats .num-viewers {
  font-family: 'Lato', sans-serif;
}

.sidebar .cats ul {
  margin: 0;
  padding: 0;
  gap: 10px;
  list-style-type: none;
}

.sidebar .cats ul li {
  cursor: pointer;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  position: relative;
}

.sidebar .cats ul li .name {
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90px;
}

.sidebar .cats ul li .name:hover {
  color: #7285e2;
}

.sidebar .cats ul li .num-viewers {
  position: absolute;
  right: 2px;
}

.sidebar .cats ul li .isLive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  position: absolute;
  right: 45px;
}

@media (max-width: 1200px) {
  .sidebar .cats ul li {
    padding-left: 5px;
  }
}

.sidebar .cats ul li:hover {
  background: #cccbcc;
}

.sidebar .contacts {
  border-top: 1px solid white;
  height: 107px;
}

.sidebar .contacts .inner-block {
  margin: 25px auto 0;
  width: 80%;
  height: 120px;
  text-align: center;
  border-radius: 5px;
  background: #dfdfdf;
  padding-bottom: 10px;
  position: relative;
}

.sidebar .contacts .inner-block .invitation-text {
  font-size: 19px;
  padding-top: 5px;
  margin-bottom: 0;
}

.sidebar .contacts .inner-block .invitation-text::-moz-selection {
  color: white;
  background: #f6af44;
}

.sidebar .contacts .inner-block .invitation-text::selection {
  color: white;
  background: #f6af44;
}

.sidebar .contacts .inner-block ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar .contacts .inner-block ul li a {
  text-decoration: none;
  color: black;
}

.sidebar .contacts .inner-block ul li a:hover {
  color: #00a2ff;
}

.cats::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.cats::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.cats::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(231, 217, 14, 0.3);
}

@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    max-width: 65px;
  }
  .sidebar .cats {
    height: 100%;
  }
  .sidebar .cats .name,
  .sidebar .cats .isLive,
  .sidebar .cats .num-viewers {
    display: none;
  }
  .sidebar .cats::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
  }
  .sidebar .inner-block {
    display: none;
  }
  .sidebar .contacts {
    display: none;
    height: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=sidebar.css.map */